body {
  height: 100%;
  width: 100%;
}

div,
#isl-data,
#eng-data,
#ada-data,
.gs-question-table,
.main-question-table {
  margin: 10px;
}

#text_area {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.hide {
  display: none;
}

.formData {
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 9;
  background: yellowgreen;
  font-size: 22px;
}

.button-bar {
  display: flex;
  justify-content: space-between;
}
